<div class="stepper">
  <%= f.hidden_field current_step_column, :input_html => {:value => resource.next_step} %>
  <%= render "#{resource.next_step}_step", :f => f %>

  <ul class="actions">
    <li class="first save"><%= f.submit :value => t('stepper.save').html_safe %></li>
    <% unless resource.first_step?(resource.next_step) %>
      <li class="previous_step"><%= f.submit :value => t('stepper.previous_step').html_safe %></li>
    <% end %>
    <% unless resource.last_step?(resource.next_step) %>
      <li class="last next_step"><%= f.submit :value =>t('stepper.next_step').html_safe %></li>
    <% else %>
      <li class="last finish"><%= f.submit :value =>t('stepper.finish').html_safe %></li>
    <% end %>
  </ul>
</div>

